* {
    margin: 0;
    padding: 0;
}

.menu-bg {
    background-color: #040E22;
}

.topbar-bg {
    background-color: #1D2228;
}

.topbar .social-group img {
    height: 19px;
    width: 19px;
}

.footer-logo {
    width: 260px;
    height: 66px;
}

footer .useful-links ul li a {
    color: #ffff;
}

footer .useful-links ul li img {
    height: 11px;
    width: 9px;
    margin-right: .5rem;
}

footer .contact-image {
    height: 20px;
    width: 20px;
}

footer .footer-link {
    padding-top: 50px !important;
    padding-bottom: 100px;
}

footer .footer-link .contact-info ul li p {
    font-family: 'Nunito Sans';
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
}

footer .footer-link .logo p {
    color: rgba(255, 255, 255, 0.6);
}

.active {
    color: #F1A909 !important;
}

.topic .card {
    border-radius: 0;
    background-color: #D9D9D9;
}

.topic .card .read-more p {
    font-family: 'Nunito Sans';
    color: #F1A909;
    font-weight: 600;
}

.topic .card .read-more img {
    height: 13px;
    width: 17px;
    margin-left: 5px;
}

.topic {
    margin-top: 50px;
}

.topic h2 {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-size: 30px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.topic .card .img {
    height: 200px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topic .card .img img {
    max-width: 100%;
    display: block;
    margin: auto;
    /* object-fit: contain; */
}

.rectangle-div .single-ractangle img {
    height: 70px;
    width: 60px;
}

.rectangle-div .main-div {
    display: block;
    padding: 0 100px;
}
.rectangle-div {
    display: float;
    margin-top: -50px;
    opacity: 1;
    position: relative;
    z-index: 1;
    margin-top: -50px;
}


.search-box {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.input-search {
    height: 40px;
    width: 40px;
    border-style: none;
    padding: 0px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    padding-right: 40px;
    color: #fff;
}

.input-search::placeholder {
    color: rgba(255, 255, 255, .5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}

.btn-search {
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color: #fff;
    background-color: #040E22;
    pointer-events: painted;
}

.btn-search:focus~.input-search {
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:focus {
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

#thehero {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/about.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.the-inner {
    width: 90vw;
    padding: 1rem;
}

.the-inner h1 {
    color: #000000;
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    font-weight: 400;
    line-height: 1.4;
    font-size: 2.1rem;
}

.about-us
{
    padding: 100px 0;
}
.about-us .heading
{
    margin-bottom: 5rem;
}

.course-card
{
    background-color: rgba(235, 229, 181, 1);
}
.course-card ul.radio-btn
{
    margin-left: 0;
    padding-left: 0;
}
.course-card .radio-btn li
{
    list-style: none;
}
.course-card .radio-btn li input
{
    width: 11px;
    height: 11px;
    left: 1013px;
    top: 813px;
    background: #EBE5B5;
    border: 5px solid rgba(70, 107, 63, 1)
}
.course-card .enroll-btn
{
    background: rgba(229, 203, 111, 1);
    width: 100%;
}
.form-card
{
    background: rgba(247, 247, 247, 1);
    padding: 1rem;
}
.form-card button
{
    font-family: 'Nunito Sans';
    font-size: 17px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    background: rgba(241, 169, 9, 1);
    width: 190px;
    height: 49px;
    top: 1177px;
    left: 105px;
    border-radius: 7px;
    text-align: center;
}
.about-us .form-control
{
    background: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(170, 171, 171, 1);
}
.form-control:focus
{
    box-shadow: none;
}

.accordion {
    background: rgba(247, 247, 247, 1);
}
.accordion-button:focus {
    box-shadow: none;
}
.accordion-button {
    font-family: 'Nunito Sans';
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
}

.log-reg-form
{
    margin: 5rem 0;
    background: rgba(244, 244, 244, 1);
}
.log-reg-form .form-control, .form-select
{
    background: none;
    border: 1px solid rgba(170, 171, 171, 1);
}
.log-reg-form button
{
    width: 143px;
    height: 43px;
    top: 966px;
    left: 648px;
    border-radius: 6px;
    background: rgba(146, 146, 84, 1);
    color: #FFFFFF;
}
.login-with
{
    width: 100%;
}
.log-reg-form .links a
{
    color: rgba(109, 112, 116, 1);
}
.log-reg-form h3
{
    margin: 3rem 0;
}
.form-select:focus
{
    color: 1px solid rgba(170, 171, 171, 1);
    border: 1px solid rgba(170, 171, 171, 1) !important;
    box-shadow: none !important;
}

@media (max-width: 567px) {
    .topic .card .img {
        height: 300px;
    }
}
@media (max-width: 992px) {
    img {
        width: 160px;
    }
}
